{% load static %}

<nav class="my-nav">
    <div class="nav-inside">
         <ul class="nav-ul">
            <svg height="48" viewBox="0 0 17 48" width="17" xmlns="http://www.w3.org/2000/svg"><path d="m15.5752 19.0792a4.2055 4.2055 0 0 0 -2.01 3.5376 4.0931 4.0931 0 0 0 2.4908 3.7542 9.7779 9.7779 0 0 1 -1.2755 2.6351c-.7941 1.1431-1.6244 2.2862-2.8878 2.2862s-1.5883-.734-3.0443-.734c-1.42 0-1.9252.7581-3.08.7581s-1.9611-1.0589-2.8876-2.3584a11.3987 11.3987 0 0 1 -1.9373-6.1487c0-3.61 2.3464-5.523 4.6566-5.523 1.2274 0 2.25.8062 3.02.8062.734 0 1.8771-.8543 3.2729-.8543a4.3778 4.3778 0 0 1 3.6822 1.841zm-6.8586-2.0456a1.3865 1.3865 0 0 1 -.2527-.024 1.6557 1.6557 0 0 1 -.0361-.337 4.0341 4.0341 0 0 1 1.0228-2.5148 4.1571 4.1571 0 0 1 2.7314-1.4078 1.7815 1.7815 0 0 1 .0361.373 4.1487 4.1487 0 0 1 -.9867 2.587 3.6039 3.6039 0 0 1 -2.5148 1.3236z"></path></svg>

                <li class="Store"><a href="#">Shop</a>
                  <div class="store-menu">
                    <div class="store-menu-one">
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#"> Store</a></h6>
                        <a href="#"><h3 class="store-white-heading">Shop the Latest</h3></a>
                        <a href="#"><h3 class="store-white-heading">Mac</h3></a>
                        <a href="#"><h3 class="store-white-heading">iPad</h3></a>
                        <a href="#"><h3 class="store-white-heading">iPhone</h3></a>
                        <a href="#"><h3 class="store-white-heading">Apple Watch</h3></a>
                        <a href="#"><h3 class="store-white-heading">Accessories</h3></a>
                      </div>
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#"> Quick Links</a></h6>
                        <a href="#"><h3 class="store-white-heading-small">Shop Mac</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">Mac Accessories</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">Ways to buy</h3></a>  
                      </div>
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#">Shop Special Stores</a></h6>
                        <a href="#"><h3 class="store-white-heading-small">Education</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">Bussiness</h3></a>  

                      </div>  
                    </div>  
                  </div>
    
                
                </li>
                <li  class="Store"><a href="#">Mac</a>
                  <div class="store-menu">
                    <div class="store-menu-one">
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#"> Explore Mac</a></h6>
                        <a href="#"><h3 class="store-white-heading">Explore all Mac</h3></a>
                        <a href="#"><h3 class="store-white-heading">MacBook Air</h3></a>
                        <a href="#"><h3 class="store-white-heading">MacBook Pro</h3></a>
                        <a href="#"><h3 class="store-white-heading">iMac</h3></a>
                        <a href="#"><h3 class="store-white-heading">Mac mini</h3></a>
                        <a href="#"><h3 class="store-white-heading">Mac studio</h3></a>
                        <a href="#"><h3 class="store-white-heading">Mac Pro</h3></a>
                        <a href="#"><h3 class="store-white-heading">Displays</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">Compare Mac</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">Mac does That</h3></a>  


                      </div>
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#"> Shop Mac</a></h6>
                        <a href="#"><h3 class="store-white-heading-small">Shop Mac</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">Mac Accessories</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">Ways to buy</h3></a>  
                      
                      </div>
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#">More about Mac</a></h6>
                        <a href="#"><h3 class="store-white-heading-small">Mac Support</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">AppleCare+forMac</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">mac OS sanoma</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">apps by Apple</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">iPhone Privacy</h3></a>   
                        <a href="#"><h3 class="store-white-heading-small">iCloud+</h3></a>   
                        <a href="#"><h3 class="store-white-heading-small">Mac for Bussiness</h3></a>   
                        <a href="#"><h3 class="store-white-heading-small">Education</h3></a>   
                      </div>  
                    </div>  
                  </div>
    
                </li>
                <li class="Store"><a href="#">iPad</a>  
                  <div class="store-menu">
                    <div class="store-menu-one">
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#"> Explore iPad</a></h6>
                        <a href="#"><h3 class="store-white-heading">Explore all iPad</h3></a>
                        <a href="#"><h3 class="store-white-heading">iPad Air</h3></a>
                        <a href="#"><h3 class="store-white-heading">iPad Pro</h3></a>
                        <a href="#"><h3 class="store-white-heading">iPad</h3></a>
                        <a href="#"><h3 class="store-white-heading">iPad mini</h3></a>
                        <a href="#"><h3 class="store-white-heading">Apple Pencil</h3></a>
                        <a href="#"><h3 class="store-white-heading">Keyboards</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">Compare iPad</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">Why iPad</h3></a>  
                      </div>
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#"> Shop iPad</a></h6>
                        <a href="#"><h3 class="store-white-heading-small">Shop iPad</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">iPad Accessories</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">Ways to buy</h3></a>    
                      </div>
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#">More from iPad</a></h6>
                        <a href="#"><h3 class="store-white-heading-small">Education</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">Bussiness</h3></a>  

                      </div>  
                    </div>  
                  </div>
    
                
                </li>
                <li class="Store"><a href="#">iPhone</a>  
                  <div class="store-menu">
                    <div class="store-menu-one">
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#"> Explore iPhone</a></h6>
                        <a href="#"><h3 class="store-white-heading">Explore all iPhone</h3></a>
                        <a href="#"><h3 class="store-white-heading">iPhone 15 Pro </h3></a>
                        <a href="#"><h3 class="store-white-heading">iPhone 15</h3></a>
                        <a href="#"><h3 class="store-white-heading">iPhone 14</h3></a>
                        <a href="#"><h3 class="store-white-heading">iPhone 13</h3></a>
                        <a href="#"><h3 class="store-white-heading">iPhone SE</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">Compare iPhone</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">switch from  Android </h3></a>  
                      </div>
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#"> Shop iPhone</a></h6>
                        <a href="#"><h3 class="store-white-heading-small">Shop iPhone</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">iPhone Accessories</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">Ways to buy</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">Apple Trade In</h3></a>   
   
                      </div>
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#">More from iPhone</a></h6>
                        <a href="#"><h3 class="store-white-heading-small"> iPhone Support</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">Apple care for iPhone</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">ios 17</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">iPhone Privacy</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">iCloud+</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">Wallet</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">Siri</h3></a>  


                      </div>  
                    </div>  
                  </div>
    
                
                </li>
                <li class="Store"><a href="#">Watch</a>  
                  <div class="store-menu">
                    <div class="store-menu-one">
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#"> Explore Watch</a></h6>
                        <a href="#"><h3 class="store-white-heading">Explore all Apple Watches</h3></a>
                        <a href="#"><h3 class="store-white-heading">Apple Watch Series 9 </h3></a>
                        <a href="#"><h3 class="store-white-heading">Apple Watch Ultra 2</h3></a>
                        <a href="#"><h3 class="store-white-heading">Apple Watch SE</h3></a>
                        <a href="#"><h3 class="store-white-heading">Apple Watch Nike</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">Compare Watch</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">Why Apple Watch </h3></a>  
                      </div>
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#"> Shop Watch</a></h6>
                        <a href="#"><h3 class="store-white-heading-small">Shop Apple Watch</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">Apple Watch Straps</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">Ways to buy</h3></a>  
                      </div>
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#">More from Watch</a></h6>
                        <a href="#"><h3 class="store-white-heading-small">Apple Watch Support</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">AppleCare+</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">watchOS 10</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">Apps by Apple</h3></a>  


                      </div>  
                    </div>  
                  </div>
    
                </li>
                <li class="Store"><a href="#">  Airpods</a>  
                  <div class="store-menu">
                    <div class="store-menu-one">
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#"> Explore Airpods</a></h6>
                        <a href="#"><h3 class="store-white-heading">Explore all Airpods</h3></a>
                        <a href="#"><h3 class="store-white-heading">AirPods Pro 2nd generation</h3></a>
                        <a href="#"><h3 class="store-white-heading">AirPods 2nd generation</h3></a>
                        <a href="#"><h3 class="store-white-heading">AirPods 3rd generation</h3></a>
                        <a href="#"><h3 class="store-white-heading">AirPods Max</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">Compare AirPods</h3></a>
                      </div>
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#"> Shop AirPods </a></h6>
                        <a href="#"><h3 class="store-white-heading-small">Shop AirPods</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">AirPods Accessories</h3></a>
                      </div>
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#">More from AirPods</a></h6>
                        <a href="#"><h3 class="store-white-heading-small">AirPods Support</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">AppleCare+ for Headphones</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">Apple Music</h3></a>  
                      </div>  
                    </div>  
                  </div>
    
                </li>
                <li class="Store"><a href="#">Explore TV & Home</a>  
                  <div class="store-menu">
                    <div class="store-menu-one">
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#">Explore TV & Home</a></h6>
                        <a href="#"><h3 class="store-white-heading">Apple TV 4K</h3></a>
                        <a href="#"><h3 class="store-white-heading">HomePod</h3></a>
                        <a href="#"><h3 class="store-white-heading">HomePod mini</h3></a>
                      </div>
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#"> Shop TV & Home</a></h6>
                        <a href="#"><h3 class="store-white-heading-small">Shop Apple TV 4K</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">Shop HomePod</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">Shop HomePod mini</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">Shop Siri Remote</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">TV & Home Accessories</h3></a>

                      </div>
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#">More from TV & Home</a></h6>
                        <a href="#"><h3 class="store-white-heading-small">Apple TV Support</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">HomePod Support</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">Apple TV app+</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">Apple TV+</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">Home app</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">Apple Music</h3></a> 
                        <a href="#"><h3 class="store-white-heading-small">Siri</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">AirPlay</h3></a>  
 


                      </div>  
                    </div>  
                  </div>
    
                </li>
                <li class="Store"><a href="#">Entertaiment</a>  
                  <div class="store-menu">
                    <div class="store-menu-one">
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#"> Explore Entertainment</a></h6>
                        <a href="#"><h3 class="store-white-heading">Apple One</h3></a>
                        <a href="#"><h3 class="store-white-heading">Apple TV+</h3></a>
                        <a href="#"><h3 class="store-white-heading">Apple Music</h3></a>
                        <a href="#"><h3 class="store-white-heading">Apple Arcade</h3></a>
                        <a href="#"><h3 class="store-white-heading">Apple Podcasts</h3></a>
                        <a href="#"><h3 class="store-white-heading">Apple Books</h3></a>
                        <a href="#"><h3 class="store-white-heading">App Store</h3></a>

                      </div>
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#"> Support</a></h6>
                        <a href="#"><h3 class="store-white-heading-small">Apple TV+ Support</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">Apple Music Support</h3></a>
                      </div>
                        
                    </div>  
                  </div>
    
                </li>
                <li class="Store"><a href="#">Accessories</a>  
                  <div class="store-menu">
                    <div class="store-menu-one">
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#"> Shop Accessories</a></h6>
                        <a href="#"><h3 class="store-white-heading">Shop All Accessories</h3></a>
                        <a href="#"><h3 class="store-white-heading">Mac</h3></a>
                        <a href="#"><h3 class="store-white-heading">iPad</h3></a>
                        <a href="#"><h3 class="store-white-heading">iPhone</h3></a>
                        <a href="#"><h3 class="store-white-heading">Apple Watch</h3></a>
                        <a href="#"><h3 class="store-white-heading">AirPods</h3></a>
                        <a href="#"><h3 class="store-white-heading">TV & Home</h3></a>

                      </div>
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#">Explore Accessories</a></h6>
                        <a href="#"><h3 class="store-white-heading-small">Made by Apple</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">AirTag</h3></a>
                      </div>
                        
                    </div>  
                  </div>
    
                </li>
                <li class="Store"><a href="#">Support</a>
                  <div class="store-menu">
                    <div class="store-menu-one">
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#"> Explore Support</a></h6>
                        <a href="#"><h3 class="store-white-heading">iPhone</h3></a>
                        <a href="#"><h3 class="store-white-heading">Mac</h3></a>
                        <a href="#"><h3 class="store-white-heading">iPad</h3></a>
                        <a href="#"><h3 class="store-white-heading">Watch</h3></a>
                        <a href="#"><h3 class="store-white-heading">AirPods</h3></a>
                        <a href="#"><h3 class="store-white-heading">Music</h3></a>
                        <a href="#"><h3 class="store-white-heading">TV</h3></a>

                      </div>
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#"> Get Help</a></h6>
                        <a href="#"><h3 class="store-white-heading-small">Community</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">Check Coverage</h3></a>
                        <a href="#"><h3 class="store-white-heading-small">Repair</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">Contact Us</h3></a>  

                      </div>
                      <div class="store-menu-inside">
                        <h6 class="store-sub-headings"><a href="#">Helpful Topics</a></h6>
                        <a href="#"><h3 class="store-white-heading-small">Get AppleCare+</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">Apple ID & Password</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">Billing & Subscriptions</h3></a>  
                        <a href="#"><h3 class="store-white-heading-small">Find My</h3></a>  
                        <a href="#"><h3 class="store-white-heading">Accessibility</h3></a>



                      </div>  
                    </div>  
                  </div>
    
                </li>
                  <a><svg xmlns="http://www.w3.org/2000/svg" width="15px" height="44px" viewBox="0 0 15 44"><path d="M14.298,27.202l-3.87-3.87c0.701-0.929,1.122-2.081,1.122-3.332c0-3.06-2.489-5.55-5.55-5.55c-3.06,0-5.55,2.49-5.55,5.55 c0,3.061,2.49,5.55,5.55,5.55c1.251,0,2.403-0.421,3.332-1.122l3.87,3.87c0.151,0.151,0.35,0.228,0.548,0.228 s0.396-0.076,0.548-0.228C14.601,27.995,14.601,27.505,14.298,27.202z M1.55,20c0-2.454,1.997-4.45,4.45-4.45 c2.454,0,4.45,1.997,4.45,4.45S8.454,24.45,6,24.45C3.546,24.45,1.55,22.454,1.55,20z"></path>
                  
                  </svg>
                 </a>
                 <!-- <div class="store-menu"></div> -->
               
               
                <a><svg height="44" viewBox="0 0 14 44" width="14" xmlns="http://www.w3.org/2000/svg"><path d="m11.3535 16.0283h-1.0205a3.4229 3.4229 0 0 0 -3.333-2.9648 3.4229 3.4229 0 0 0 -3.333 2.9648h-1.02a2.1184 2.1184 0 0 0 -2.117 2.1162v7.7155a2.1186 2.1186 0 0 0 2.1162 2.1167h8.707a2.1186 2.1186 0 0 0 2.1168-2.1167v-7.7155a2.1184 2.1184 0 0 0 -2.1165-2.1162zm-4.3535-1.8652a2.3169 2.3169 0 0 1 2.2222 1.8652h-4.4444a2.3169 2.3169 0 0 1 2.2222-1.8652zm5.37 11.6969a1.0182 1.0182 0 0 1 -1.0166 1.0171h-8.7069a1.0182 1.0182 0 0 1 -1.0165-1.0171v-7.7155a1.0178 1.0178 0 0 1 1.0166-1.0166h8.707a1.0178 1.0178 0 0 1 1.0164 1.0166z"></path></svg></a>
        </ul>
    </div>
</nav>

<nav class="my-nav-2">
    <div class="nav-right">
        <svg height="48" viewBox="0 0 17 48" width="17" xmlns="http://www.w3.org/2000/svg"><path d="m15.5752 19.0792a4.2055 4.2055 0 0 0 -2.01 3.5376 4.0931 4.0931 0 0 0 2.4908 3.7542 9.7779 9.7779 0 0 1 -1.2755 2.6351c-.7941 1.1431-1.6244 2.2862-2.8878 2.2862s-1.5883-.734-3.0443-.734c-1.42 0-1.9252.7581-3.08.7581s-1.9611-1.0589-2.8876-2.3584a11.3987 11.3987 0 0 1 -1.9373-6.1487c0-3.61 2.3464-5.523 4.6566-5.523 1.2274 0 2.25.8062 3.02.8062.734 0 1.8771-.8543 3.2729-.8543a4.3778 4.3778 0 0 1 3.6822 1.841zm-6.8586-2.0456a1.3865 1.3865 0 0 1 -.2527-.024 1.6557 1.6557 0 0 1 -.0361-.337 4.0341 4.0341 0 0 1 1.0228-2.5148 4.1571 4.1571 0 0 1 2.7314-1.4078 1.7815 1.7815 0 0 1 .0361.373 4.1487 4.1487 0 0 1 -.9867 2.587 3.6039 3.6039 0 0 1 -2.5148 1.3236z"></path></svg>
    </div>
    <div class="nav-left">
        <a><svg xmlns="http://www.w3.org/2000/svg" width="15px" height="44px" viewBox="0 0 15 44"><path d="M14.298,27.202l-3.87-3.87c0.701-0.929,1.122-2.081,1.122-3.332c0-3.06-2.489-5.55-5.55-5.55c-3.06,0-5.55,2.49-5.55,5.55 c0,3.061,2.49,5.55,5.55,5.55c1.251,0,2.403-0.421,3.332-1.122l3.87,3.87c0.151,0.151,0.35,0.228,0.548,0.228 s0.396-0.076,0.548-0.228C14.601,27.995,14.601,27.505,14.298,27.202z M1.55,20c0-2.454,1.997-4.45,4.45-4.45 c2.454,0,4.45,1.997,4.45,4.45S8.454,24.45,6,24.45C3.546,24.45,1.55,22.454,1.55,20z"></path></svg></a>
        <a><svg height="44" viewBox="0 0 14 44" width="14" xmlns="http://www.w3.org/2000/svg"><path d="m11.3535 16.0283h-1.0205a3.4229 3.4229 0 0 0 -3.333-2.9648 3.4229 3.4229 0 0 0 -3.333 2.9648h-1.02a2.1184 2.1184 0 0 0 -2.117 2.1162v7.7155a2.1186 2.1186 0 0 0 2.1162 2.1167h8.707a2.1186 2.1186 0 0 0 2.1168-2.1167v-7.7155a2.1184 2.1184 0 0 0 -2.1165-2.1162zm-4.3535-1.8652a2.3169 2.3169 0 0 1 2.2222 1.8652h-4.4444a2.3169 2.3169 0 0 1 2.2222-1.8652zm5.37 11.6969a1.0182 1.0182 0 0 1 -1.0166 1.0171h-8.7069a1.0182 1.0182 0 0 1 -1.0165-1.0171v-7.7155a1.0178 1.0178 0 0 1 1.0166-1.0166h8.707a1.0178 1.0178 0 0 1 1.0164 1.0166z"></path></svg></a>
        <a class="toggle-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <span class="white-line"></span>
            <span class="white-line"></span>
        </a>
    </div>
    
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-fullscreen"  style="background-color: black!important;">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        
      </div>
    </div>
  </div>
</nav>



 